@using System.Configuration
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<meta content="@ViewBag.Author" name="author" />
	<meta content="@ViewBag.Description" name="description" />
	<meta content="@ViewBag.Keywords" name="keywords" />
	<meta content="@ViewBag.ItemPropName" itemprop="name" />
	<meta content="@ViewBag.ItemPropDescription" itemprop="description" />
	<meta content="@ViewBag.ItemPropImage" itemprop="image" />
	<link href="https://plus.google.com/+Virtocommerce" rel="publisher" />
	<meta name="google-site-verification" content="@ConfigurationManager.AppSettings["GoogleSiteVerificationId"]" />
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>

	@Html.Partial("_MicrosoftApplicationInsights")

	@Styles.Render("~/defaultCSS")
	@Scripts.Render("~/defaultJS")

	<script src="~/Scripts/js/base64.js"></script>
	<script src="~/Scripts/js/hider.js"></script>

	<base href="@Url.Content("~")" />

	@Html.Partial("_FacebookTrackerPartial")

	<style>
		.google-like {
			position: fixed;
			right: 0;
			top: 20px;
			z-index: 50;
		}
	</style>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
	@Html.Partial("_GoogleTagManagerPartial")

	<div class="google-like"><div class="g-plusone" data-size="tall" data-href="http://virtocommerce.com"></div></div>

	<div class="grid"></div>
	<div id="layout">
		<div class="layout-canvas">
			@Html.Partial("_SwipePartial")
			@Html.Partial("_HeaderPartial")
			@RenderBody()
			@Html.Partial("_FooterPartial")
		</div>
	</div>
	@Html.Partial("_GoogleAnalyticsPartial")
</body>
</html>
